/* google fonts */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-1 {
    color: #181818;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}

.btn {
    background-color: #FD6E0A;
    color:white;
    font-size: 20px;
    padding: 17px 36px;
    border-radius: 5px;
    border: none;
}







/* main styles */

/* nav styles */
header {
    background-color: antiquewhite;
    padding-top: 50px;
     background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top 40px left, bottom right;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 45px;
    font-weight: 800;
}

.logo span {
    color: #FD6E0A;
}

nav .menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu li {
    list-style: none;
    font-size: 20px;

}
.menu li a {
    text-decoration: none;
    color: #474747;
}

/* banner styles */

#banner {
    margin: 45px 38px 0 230px;
    display: flex;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}
.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 500;
}
#banner .banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-img img {
    max-width: 585px;
    vertical-align: middle;
}
